header {
    grid-column: 1/-1;
    background-color: coral;
    text-align: center;
}

header a {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 20px;
    font-size: 40px;
    text-decoration: none;
    color: black;
    letter-spacing: -6px;
    text-shadow: 2px 2px bisque;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}

nav {
    background-color: coral;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    margin-top: 8px;
}


nav li {
    display: inline-flex;
}

nav li a {
    font-family: 'Roboto', sans-serif;
}

li a {
    text-decoration: none;
    font-size: 0px;
    padding: 20px;
}

#active {
    cursor: pointer;
    color: white;
    border-radius: 1000px;
    background-color: black;
    width: 2px;
    height: 20px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div a:link {
    color: white;
    font-size: 18px;
}

div a:visited {
    color: white;
}

div a:hover {
    color: black;
}

div a:active {
    color: black;
}


.productlist > section {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-bottom: 60px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px #0000;
    background-color: lightgoldenrodyellow;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 25px;
    letter-spacing: -2px;
    text-transform: uppercase;
    grid-column: 1/-1;
}

h1::first-letter {
    font-size: 35px;
}

main {
    display: grid;
    flex-flow: column;
    margin: 30px;
    border-radius: 20px;

}

article {
    display: grid;
    flex-flow: column;
    margin: 30px;
    border-radius: 20px;
}



img {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
}


.prize {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.discount {
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

.soldout {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 45px;
    transform: rotate(-15deg);
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 45px;
}

.allergens {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.vegetarian {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.short {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
}

.long {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
}


button {
    margin-top: auto;
    background: black;
    color: white;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;

    font-size: 15px;
    border: none;
    justify-content: center;
    border-radius: 15px;
    margin-left: 70px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:    "hd se"
                                "ma ma"
                                "ft ft";
    }
}

@media only screen and (max-width: 899px) and (min-width: 600px){
	body {	display: grid;
			grid-template-columns: 	1fr 3fr;
			grid-template-areas: 	"se se"
                                    "hd hd"
									"ma ma"
                                    "ft ft"; }
}

@media only screen and (max-width: 599px) {
  body {	display: grid;
    		grid-template-columns: 	1fr 1fr;
    		grid-template-areas: 	"se se"
                                    "hd hd"
                         			"ma ma"
                                    "ft ft"; }
}

header {
    grid-area: hd;
    text-align: center;
}

main {
    grid-area: ma;
    margin-top: 20px;
}

nav {
    grid-area: se;
}

footer {
    grid-area: ft;
    background-color: coral;
    text-align: left;
    margin-top: 60px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

}

.hidden {
    display: none;
}
